.tv-wrapper {
  overflow: visible;
}

.tv-inner {
  transform: scaleY(0);
  transform-origin: 50% 50%;
  will-change: transform, filter, opacity;
}

.tv-inner--revealed {
  animation: tvOpen 650ms cubic-bezier(0.2, 0.9, 0.2, 1) forwards;
}
